{% extends 'navigationBar.html'%}
{% block content %}

<body>

    <h1>add location</h1>
    <form action="/addLocation" method="POST">
        <input placeholder="nameOfCity" name="nameOfCity" value="{{nameOfCity}}">/or find group by:
        lat:<input type="number" step="0.0001" placeholder="lat" name="lat" value='{{latLonR[0]}}'>
        lon:<input type="number" step="0.0001" placeholder="lon" name="lon" value='{{latLonR[1]}}'>
        radios:<input type="number" max="50" min="5" placeholder="radio" name="radios" value='{{latLonR[2]}}'>
        <button type="submit">search</button>
    </form>
    <form action="/addLocation?by=add" method="POST">
        <button type="submit">add selected</button>
        <table>
            <tr>
                <th>

                </th>
                <th>
                    city
                </th>

                <th>
                    location
                </th>

            </tr>
            {%for city in cities%}
            {%if city['cod']!='404' %}

            <tr>
                <th>
                    <input type="checkbox" id="radio_{{city['name']}}" name="name_{{city['name']}}">
                    <input type="hidden" name="coord_lat_{{city['name']}}" value="{{city['coord']['lat']}}">
                    <input type="hidden" name="coord_lon_{{city['name']}}" value="{{city['coord']['lon']}}">

                </th>
                <th>
                    {{ city['name']}}
                </th>
                <th>
                    {{ city['coord']}}
                </th>
            </tr>
            {%endif%}
            {%endfor%}
        </table>
    </form>
    <br /><br>
    {% endblock %}
</body>