{% block content %}

<body>

    <h1>home page</h1>

    <form action="/home" method="post">
        sort by city name <input placeholder="name of a city" name="nameOfCity" value="{{nameOfCity}}"
            onkeyup="buildWeatherRow(this.value)">
        sort by date <input type="date" name="filterDate" id="filterDate" value="{{selectedDate}}"
            min="1997-01-01" max="2022-10-10" required>
        <button type="submit">filter date</button>
    </form>
    <table id="table">
        <tr>
            <th>
                city
            </th>
            <th>
                temp
            </th>
            <th>
                feels_like
            </th>
            <th>
                uvi
            </th>
            <th>
                clouds
            </th>
            <th>
                pressure
            </th>
            <th>
                humidity
            </th>
            <th>
                wind speed
            </th>
            <th>
                wind deg
            </th>
        </tr>


    </table>
</body>
<script>
    var today=new Date()
    var requiredDate=new Date(today.getFullYear(),today.getMonth(),today.getDate()-3)
    document.getElementById("filterDate").max = today.toJSON().slice(0,10);
    document.getElementById("filterDate").min = requiredDate.toJSON().slice(0,10);
    buildWeatherRow("")
    function buildWeatherRow(a) {
        var tr = document.getElementById('table');
        var temp = tr.rows.length
        for (var i = 1; i < temp; i++) {
            tr.deleteRow(1);
        }

        "{%for weather in weatherList %}"
        if (("{{weather[0]}}".toLowerCase()).startsWith((a.toLowerCase()))) {
            th = document.createElement('tr');
            th.innerHTML = " <tr>\
            <th>\
                {{ weather[0]}}\
            </th>\
            <th>\
                {{ weather[1]['current']['temp']}}\
            </th>\
            <th>\
                {{ weather[1]['current']['feels_like']}}\
            </th>\
            <th>\
                {{ weather[1]['current']['uvi']}}\
            </th>\
            <th>\
                {{ weather[1]['current']['clouds']}}\
            </th>\
            <th>\
                {{ weather[1]['current']['pressure']}}\
            </th>\
            <th>\
                {{ weather[1]['current']['humidity']}}\
            </th>\
            <th>\
                {{ weather[1]['current']['wind_speed']}}\
            </th>\
            <th>\
                {{ weather[1]['current']['wind_deg']}}\
            </th>\
        </tr>";
            tr.appendChild(th);
        }
        "{%endfor%}"
    }
</script>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
{% endblock %}